body{
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: inter;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5px;
    box-shadow:5px 5px 15px 5px rgba(0, 0, 0, 0.582);
}
.nav2 span{
    font-size: 50px;
    color: green;
}

/* section1 */

.section1{
    background-image: url(./image/mobile2.jpg
    );
    height: 450px;
    width: 100%;
    position: relative;
    padding-top: 1em;
    margin-top: 1em;
}
.section1text{
    margin-left: 2em;
}

.section1text1 h1{
    font-size: 1.5em;
    color: white;
    /* border-bottom: solid 2px; */
    text-decoration: underline;
    margin-bottom: 2px;
    margin-right: 0px;
}
.section1text1 span{
    margin: 0px;
    margin-bottom:-13px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.966);
    margin-left: 0px;
    /* border-bottom: solid 2px; */
}
.section1text2 p{
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    color: white;
    margin-top: 2%;
    margin-left: 5%;
}
.section1buton button{
    margin-left: 5%;
    font-size: 12px;
    height: 2.5em;
    width: 15em;
    background-color: green;
    border: none;
    border-radius: 20px;
    color: white;
}

/* section2 */

.section2{
    margin-left:2em ;
    margin-right:2em ;
    background-color: rgb(255, 255, 255);
}
.section2 h4{
    font-size: 15px;
}
.section2{
    position: relative;
}
.section2carreaux{
    margin-top: 3em;
}
.carreauxparent{
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
}
.carreauxenfant1{
    width: 47%;
    height: 170px;
    background-color: white;
    border: solid 1px;
    border-radius: 20px;
    border-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.411);
}
.carreauxenfant1 span{
    font-size: 60px;
  
}
.carreauxenfant1 h3{
    color: green;
}
.section2rectangle{
    margin-top: 1em;
    width: 100%;
    height: 110px;
    background-color: white;
    border: solid 1px;
    border-radius: 20px;
    border-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.411);
}
.section2rectangle span{
    font-size: 60px;
    color: green;
    margin-left: 25px;
}
.section2rectangle h3{
    color: green;
    margin-right: 15px;
}

/* section3 */

.section3{
    margin-left:2em ;
    margin-right:2em ;
    background-color: rgba(255, 255, 255, 0);
}
.section3 h1{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 800;
}
.section3texte{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3em;
}
.section3image1{
    background-image: url(./image/Rectangle\ 7\ \(4\).png);
    border-radius: 10px 25px 0px 0px ;
    width: 100%;
    height:40vh ;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 3em;

}
.section3image2{
    background-image: url(./image/Rectangle\ 7\ \(3\).png);
    border-radius: 10px 25px 0px 0px ;
    width: 100%;
    height:40vh ;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 3em;

}
.section3image3{
    background-image: url(./image/Rectangle\ 7\ \(2\).png);
    border-radius: 10px 25px 0px 0px ;
    width: 100%;
    height:40vh ;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 3em;

}
.section3image4{
    background-image: url(./image/Rectangle\ 7\ \(1\).png);
    border-radius: 10px 25px 0px 0px ;
    width: 100%;
    height:40vh ;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 3em;

}
.section3image5{
    background-image: url(./image/Rectangle\ 7.png);
    border-radius: 10px 25px 0px 0px ;
    width: 100%;
    height:40vh ;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 3em;

}
.section3texte1{
    background-color: rgba(0, 0, 0, 0.637);
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
.section3texte1a{
    display: flex;
    justify-content: start;
}
.section3texte1 h4{
    text-align: center;
    color:white;
}
.section3texte1 p{
    text-align: end;
    color:white;
    margin: 5px;
}
.section3texte1 h2{
    text-align: end;
    color:green;
    margin: 5px;
}
.section3button{
    display: flex;
    justify-content: right;
    width: 100%;
}
.section3button button{
    background-color: green;
    color: white;
    width: 30%;
    height: 30px;
    border-radius: 0px 0px 5px 5px;
    border: none;
}
.section3p{
    font-size: 10px;
}
.section3enfant3{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}
.section3p{
    height: 30%;
}
.section3enfant3part2{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    border: solid 1px;
    color: green;
    border-color: green;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3enfant3part2 h3{
    width: 80%;
    text-align: center;
}
.section3enfant3part2 span{
    width: 10%;
    text-align: center;

}


/* section4 */



.section4{
    margin-top: 2em;
}
.section4bg{
    width: 100%;
    background-image: url(./image/Rectangle\ 10.png);
    height: 200px;
    position: relative; 
}
.section4bg-vert{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.466);
    color: white;
    padding: 1em; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section4textebg h1 {
    font-size: 18px;
    text-align: center;
    /* margin: 0;
    padding: 1.5em 2em; 
    padding-bottom: 5px; */
  }
  
  .section4boutonbg button {
    height: 2em;
    width: 10em;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px;
    border-radius: 3px;
  }

  .section4texte{
    margin-top: 2em;
    margin-left:2em ;
    margin-right:2em ;
  }

  .section4texte h1{
    text-align: center;
    font-size: 25px;
  }

  .section4t-p1image{
    width: 47%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 2em;
  }
 
  .section4t-p1imagebg1{
    width: 100%;
    height: 130px;
    background-image: url(./image/mobi3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: end;
  }

  .section4t-p1imagebg2{
    width: 100%;
    height: 130px;
    background-image: url(./image/mobi4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: end;
  }

  .section4t-p1imagebg3{
    width: 100%;
    height: 130px;
    background-image: url(./image/mobi5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: end;
  }

  .section4t-p1imagebg4{
    width: 100%;
    height: 130px;
    background-image: url(./image/mobi6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: end;
  }
 
  .section4t-p1bg-noir{
    width: 100%;
    height: 80%;background-color: rgba(0, 0, 0, 0.548);
  }

  .section4t-p1texte{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: fit-content;
  }

  .section4t-p1texte h4 , .section4t-p1texte span{
   margin-top: 2px;
  }
  .section4t-p1texte span{
    width: 25%;
   }

  .section4textepart1{
    display: flex;
    justify-content: space-between;
  }

  .section4cercle{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
  }
  .section4cercleimage{
    height: 193px;
    width: 193px;
    background-image: url(./image/Capture\ d’écran\ 2024-07-25\ à\ 17.15.29\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 416px;
    border: solid 2px green;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section4parte2{
    width: 100%;
  }

  .section4parte2 img{
    width: 100%;
  }


  /* section5 */

.section5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 3em; */
    /* padding-right: 3em; */
    padding: 0 10px;
    background-color: green;
    padding-top: 3em;
    position: relative;
    /* margin: 0 auto; */
}
.section5parte1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}
.section5parte1a img{
    height: 70px;
    width: 70px;
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 416px;
    border: solid 2px green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5parte1a{
    height: 70px;
    width: 70px;
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 416px;
    border: solid 2px green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5parte1b{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.section5parte1b span{
   font-size: 80px;
}
.section5parte2{
    width: 80%;
    margin-top: 4em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section5parte2a{
    
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    align-items: center;
    color: white;
    
}
.section5parte2b{
    color: white;
}

/* mes icones  */

.fa6-solid--plane {
    display: inline-block;
    width: 1.13em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M482.3 192c34.2 0 93.7 29 93.7 64c0 36-59.5 64-93.7 64H365.7L265.2 495.9c-5.7 10-16.3 16.1-27.8 16.1h-56.2c-10.6 0-18.3-10.2-15.4-20.4l49-171.6H112l-43.2 57.6c-3 4-7.8 6.4-12.8 6.4H14c-7.8 0-14-6.3-14-14c0-1.3.2-2.6.5-3.9L32 256L.5 145.9c-.4-1.3-.5-2.6-.5-3.9c0-7.8 6.3-14 14-14h42c5 0 9.8 2.4 12.8 6.4L112 192h102.9l-49-171.6c-3-10.2 4.7-20.4 15.3-20.4h56.2c11.5 0 22.1 6.2 27.8 16.1L365.7 192z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
.fa7-solid--plane{
    display: inline-block;
    width: 1em;
    height: 1em;
    color: green;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 24 24'%3E%3Cpath fill='%23000' d='m12.685 13.285l-3.44 3.06l.528 2.423l-2.488 2.488l-2.507-3.921l-3.921-2.507l2.488-2.488L5.9 13l2.927-3.573l-6.171-4.114l2.828-2.829L13.2 5.057l3.793-3.793c1.171-1.172 2.985-1.258 4.05-.193s.978 2.878-.193 4.05l-3.793 3.793l2.571 7.713l-2.828 2.829z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
.fe--calendar {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: green;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8 4h8V2h2v2h1a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1V2h2zM5 8v12h14V8zm2 3h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2zm0 4h2v2h-2zm-4 0h2v2h-2zm-4 0h2v2H7z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .material-symbols--tablet {
    display: inline-block;
    color: green;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 20q-.825 0-1.412-.587T1 18V6q0-.825.588-1.412T3 4h18q.825 0 1.413.588T23 6v12q0 .825-.587 1.413T21 20zm3-2h12V6H6z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .fa-solid--suitcase {
    display: inline-block;
    color: green;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M128 480h256V80c0-26.5-21.5-48-48-48H176c-26.5 0-48 21.5-48 48zm64-384h128v32H192zm320 80v256c0 26.5-21.5 48-48 48h-48V128h48c26.5 0 48 21.5 48 48M96 480H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48h48z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .iconamoon--badge-fill {
    display: inline-block;
    color: green;
    transform: rotate(90deg);
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3 4a1 1 0 0 1 1-1h7.172a3 3 0 0 1 2.12.879l7 7a3 3 0 0 1 0 4.242l-5.17 5.172a3 3 0 0 1-4.243 0l-7-7A3 3 0 0 1 3 11.172zm6 3.5A1.5 1.5 0 0 0 7.5 9v.01a1.5 1.5 0 0 0 1.5 1.5h.01a1.5 1.5 0 0 0 1.5-1.5V9a1.5 1.5 0 0 0-1.5-1.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mage--tiktok-circle {
    display: inline-block;
    width: 2em;
    height: 2em;
    color: white;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2a10 10 0 1 0 10 10A10.01 10.01 0 0 0 12 2m5.939 7.713v.646a.37.37 0 0 1-.38.37a5.364 5.364 0 0 1-2.903-1.108v4.728a3.938 3.938 0 0 1-1.18 2.81a4.011 4.011 0 0 1-2.87 1.17a4.103 4.103 0 0 1-2.862-1.17a3.98 3.98 0 0 1-1.026-3.805c.159-.642.48-1.232.933-1.713a3.58 3.58 0 0 1 2.79-1.313h.82v1.703a.348.348 0 0 1-.39.348a1.918 1.918 0 0 0-1.23 3.631c.27.155.572.246.882.267c.24.01.48-.02.708-.092a1.928 1.928 0 0 0 1.313-1.816V5.754a.359.359 0 0 1 .359-.36h1.415a.359.359 0 0 1 .359.34a3.303 3.303 0 0 0 1.282 2.245a3.25 3.25 0 0 0 1.641.636a.37.37 0 0 1 .338.35z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .ic--baseline-facebook {
    display: inline-block;
    width: 2em;
    height: 2em;
    color:white ;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .entypo-social--instagram-with-circle {
    display: inline-block;
    width: 2em;
    height: 2em;
    color: white;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M13 10a3 3 0 1 1-6 0c0-.171.018-.338.049-.5H6v3.997c0 .278.225.503.503.503h6.995a.503.503 0 0 0 .502-.503V9.5h-1.049c.031.162.049.329.049.5m-3 2a2 2 0 1 0-.001-4.001A2 2 0 0 0 10 12m2.4-4.1h1.199a.301.301 0 0 0 .301-.3V6.401a.301.301 0 0 0-.301-.301H12.4a.301.301 0 0 0-.301.301V7.6c.001.165.136.3.301.3M10 .4A9.6 9.6 0 0 0 .4 10a9.6 9.6 0 0 0 9.6 9.6a9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 10 .4m5 13.489C15 14.5 14.5 15 13.889 15H6.111C5.5 15 5 14.5 5 13.889V6.111C5 5.5 5.5 5 6.111 5h7.778C14.5 5 15 5.5 15 6.111z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .material-symbols-light--play-arrow {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 17.192V6.808L17.154 12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

